* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid #111111; */
}

body {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    grid-column: span 5;
}

header {
    grid-column: span 5;
    display: grid;
    grid-template: auto / 2fr 3fr;
}

img {
    width: 100%;
    height: auto;
}

main {
    grid-column: span 4;
}

section {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 16px;
}

.pad {
    padding: 16px;
}

.bg-red {
    background-color: #F7934C;
}

.bg-yellow {
    background-color: #FFF5B2;
}

.bg-maroon {
    background-color: #5D0101;
}

.bg-grey {
    background-color: #545E56;
    color: #F6F6F4;
}

.bg-black {
    background-color: #111111;
}

.smimage {
    width: 300px;
    height: auto;
}

footer {
    grid-column: span 5;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
}

